go 1.25.0

use (
	./plugins/authn-static-api-key
	./plugins/observer-otel
	./plugins/observer-prometheus
	./plugins/observer-s3-transcripts
	./plugins/observer-stdout
	./plugins/prompt-context-injector
	./plugins/router-consul
	./plugins/router-litellm
	./plugins/router-weighted
	./plugins/upstream-openai
	./sdk
)
